* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body {
    padding: 2em;
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    flex: 0 1 600px;
    background: white;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

form ul {
    margin-top: 2em;
}

form ul:not(:last-child) {
    margin-bottom: 2.5em;
}

form ul > li + li {
    margin-top: 1em;
}



form ul li {
    list-style: none outside;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

form input[type="radio"],
form input[type="checkbox"] {
    appearance: none;
}

form input[type="radio"] {
width: 1.5em;
border-radius: 50%;
aspect-ratio: 1/1;
background: #eee;
display: flex;
align-items: center;
justify-content: center;
border: 1px splid #ccc;
}

form input[type="radio"]::before {
    display: none;
    content: '';
    width: 1em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: orange;
}

form input[type="radio"]:checked::before {
    display: block;
}
