body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

section p {
    color: darkcyan;
}

.main-list > li {
    font-weight: bold;
}

article.highlighted + article {
    background-color: darkorange;
}

h2.trigger ~ p {
    color: royalblue;
}
li.special a {
    background-color: red;
}

li.special + li a {
    background-color: yellow;
}

ul {
    list-style-type: none;
}

ul ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: navy;
}

.special {
    color: rosybrown;
}

h2 ~ p:hover {
    text-decoration: underline;
}
