@media (max-width: 600px) {

    .home-navbar {
    justify-content: space-evenly;
    }

    .home-cta-btn {
        padding-left: 1em;
        padding-right: 1em;
    }

    .home-features {
        /* padding-left: 1.5em;
        padding-right: 1.5em; */
        padding: 1.5em;
    }

    .home-heading-container {
        width: auto;

    }
    .home-feature-card {
        width: 100%;
    }

    .home-feature-card1 {
        width: 60%;
    }

    .home-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .home-stats {
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    position: inherit;
    margin-top: 57em;
    }

    .home-feature-card1 {
        width: auto;
    }
    
    .home-feature-card2 {
        width: auto;
    }

    .home-image2, .home-image3, .home-image4 {
    width: 386px;
    height: 276px;
    }

    .home-hero {
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 2em;
    }

    .home-image1 {
        order: -1;
    }
    
    .home-hero-text-container {
        width: 95%;
        margin: 0;
    }

    .home-text02 {
        /* width: 100; */
    }

    .home-cta-btn2 {
    align-self: center;
    padding: 1em;
    }

    .home-image1 {
        width: 100%;
    }


}