* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    border: 2px solid green;
    padding: 2em;
}

.wrapper {
    border: 2px solid blue;
    padding: 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.section {
    border: 2px solid black;
    padding: 2em;
}

.site p {
   text-align: center;
}

.section + .section {
    margin-top: 2em;
}